/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  margin: 0 auto;
  background: Black;
  padding: 0px 0;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
 padding: 14px 16px;
 text-decoration: none;
 color:White;
 font-weight: 800;
 text-transform: uppercase;
 margin: 0 15px;
  position: relative;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #C3FCF2;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.topnav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.topnav a,
.topnav a:after,
.topnav a:before {
  transition: all .5s;
}
.topnav a:hover {
  color: #555;
}
#ul {
  margin: 20px;
}
ul {
  font-size: 24;
}
p{
  font-size: 24;
}
#bg {
    background-color: #C3FCF2;
}
body {
  background-color: #FBC962;
}
.container {
     position: relative;
     width: 100%;
  }

   .image1 {
     width: 686px;
     height: 526px;
     animation: comeinleft 1s;
  }
  .image2 {
    width: 686px;
    height: 526px;
    animation: comeinright 1s;
 }

  .overlay-left-slide {
    position: absolute;
    opacity:0;
    bottom: 0;
  right: 0;
    left: 0;
    width: 100%;
  height: 100%;
    overflow: hidden;
    transition: .5s ease;
    background-color:  white;

}

  .container:hover .image1 {
animation : zoom .5s reverse  linear;
transform-origin: left;
 }
 .container:hover .image2 {
animation : zoom .5s reverse  linear;
transform-origin: right;
}
  .container:hover .overlay-left-slide
  {
opacity: 1
}

.text{
  color: Black;
  font-size: 14px;
  padding: 10px 15px;
  text-align: Left;
  position:absolute;
  top:0%;
  right:2%;
 -ms-transform: translate(-50%, -50%);

}
  @keyframes zoom {
    from{transform: rotateY(-90deg);}
    to{transform: rotateY(0deg);}

  }
@keyframes comeinleft {
  from {transform: translateX(-700px);}
  to{transform: translateX(0px);}
}
@keyframes comeinright {
  from {transform: translateX(700px);}
  to{transform: translateX(0px);}
}
h1{
  background-color: #7FD868;
  }
  #p2 {
    padding: 10px
  }
