/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  margin: 0 auto;
  background: Black;
  padding: 0px 0;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
 padding: 14px 16px;
 text-decoration: none;
 color:White;
 font-weight: 800;
 text-transform: uppercase;
 margin: 0 15px;
  position: relative;
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.topnav a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #C3FCF2;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.topnav a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.topnav a,
.topnav a:after,
.topnav a:before {
  transition: all .5s;
}
.topnav a:hover {
  color: #555;
}

#ul1 {
  margin: 20px;
}
ul {
  font-size: 24;
}
p{
  font-size: 24;
}
#bg {
    background-color: #C3FCF2;
}
body {
  background-color: #FBC962;
}
.container {
         position: relative;
         width: 100%;
      }

       .image {
        display:block;
        width: 686px;
        height: 526px;
        opacity:1;
      }

      .overlay-left-slide {
        position: absolute;
        opacity:0;
        bottom: 0;
 	    right: 100%;
        left: 0;
        width: 0;
  		height: 100%;
        overflow: hidden;
        transition: .5s ease;
        background-color: White;
	  }

      .container:hover .image {
 		 opacity:0.7;
	   }

      .container:hover .overlay-left-slide
      {
        right: 0;
        width: 100%;
        opacity:0.8;
 	  }

      .text{
        color: Black;
        padding: 10px 15px;
        text-align: Left;
        position:absolute;
        top:0%;
        right:2%;
      }

      .image1 {
        width: 686px;
        height: 526px;
        animation: comeinleft 1s;
      }
      .image2 {
       width: 686px;
       height: 526px;
       animation: comeinright 1s;
      }
      @keyframes comeinleft {
        from {transform: translateX(-700px);}
        to{transform: translateX(0px);}
      }
      @keyframes comeinright {
        from {transform: translateX(700px);}
        to{transform: translateX(0px);}
      }
      #p2 {
        padding: 10px;
      }
      @media screen and ( max-width: 1200px ) {
      img.image1 {width: 600px;
      height: 462px;}
      ul {
         font-size: 20px;
       }
      }
      @media screen and ( min-width:1200px ) and ( max-width: 1300px ) {
        img.image1 {width: 600px;
        height: 462px;}
        ul {
           font-size: 20px;
         }
        }
        @media screen and ( min-width:1300px ) and ( max-width: 1420px ) {
          img.image1 {width: 650px;
          height: 500px;}
          ul {
             font-size: 22px;
           }
          }
@media screen and ( min-width:1420px ) and ( max-width: 1600px ) {
  img.image1 {width: 710px;
  height: 546px;}
  ul {
     font-size: 24px;
   }
  }
@media screen and ( min-width:1600px ) and ( max-width: 1700px ) {
  img.image1 {width: 800px;
  height: 615px;}
  ul {
     font-size: 25px;
   }
}
@media screen and ( min-width:1700px ) and ( max-width: 1800px ) {
  img.image1 {width: 850px;
  height: 653px;}
  ul {
     font-size: 26px;
   }
}
@media screen and ( min-width:1800px ) and ( max-width: 1900px ) {
  img.image1 {width: 900px;
  height: 692px;}
  ul {
     font-size: 28px;
   }
}
@media screen and ( min-width:1900px ) and ( max-width: 2000px ) {
  img.image1 {width: 950px;
  height: 730px;}
  ul {
     font-size: 29px;
   }
}
@media screen and ( min-width:2000px ) and ( max-width: 2100px ) {
  img.image1 {width: 1000px;
  height: 769px;}
  ul {
     font-size: 30px;
   }
}
@media screen and ( min-width:2100px ) and ( max-width: 2200px ) {
  img.image1 {width: 1050px;
  height: 808px;}
  ul {
     font-size: 31px;
   }
}
@media screen and ( min-width: 2200px ) {
  img.image1 {width: 1100px;
  height: 846px;}
  ul {
     font-size: 32px;
   }
}
@media screen and ( max-width: 1200px ) {
img.image2 {width: 600px;
height: 462px;}
}
@media screen and ( min-width:1200px ) and ( max-width: 1300px ) {
  img.image2 {width: 600px;
  height: 462px;}
  }
  @media screen and ( min-width:1300px ) and ( max-width: 1420px ) {
    img.image2 {width: 650px;
    height: 500px;}
    }
@media screen and ( min-width:1420px ) and ( max-width: 1600px ) {
img.image2 {width: 710px;
height: 546px;}
}
@media screen and ( min-width:1600px ) and ( max-width: 1700px ) {
img.image2 {width: 800px;
height: 615px;}
}
@media screen and ( min-width:1700px ) and ( max-width: 1800px ) {
img.image2 {width: 850px;
height: 653px;}
}
@media screen and ( min-width:1800px ) and ( max-width: 1900px ) {
img.image2 {width: 900px;
height: 692px;}
}
@media screen and ( min-width:1900px ) and ( max-width: 2000px ) {
img.image2{width: 950px;
height: 730px;}
}
@media screen and ( min-width:2000px ) and ( max-width: 2100px ) {
img.image2 {width: 1000px;
height: 769px;}
}
@media screen and ( min-width:2100px ) and ( max-width: 2200px ) {
img.image2 {width: 1050px;
height: 808px;}
}
@media screen and ( min-width: 2200px ) {
img.image2 {width: 1100px;
height: 846px;}
}
h1 {
font-size: 64px;
background: -webkit-linear-gradient(270deg,#c33764,#1d2671);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-style: italic;
font-family:Hoefler Text;
}
